@import "../commons";

.rg-tile {
    .rg-map-cell-mixin();

    background: white;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    transition: color 0.15s, opacity 0.15s, @hover-transition;

    &.rg-tile-space {
        color: rgba(1,1,1, 0.20);
    }

    &.rg-tile-remembered {
        opacity: 0.4;
        animation-play-state: paused;
    }

    &.rg-tile-unexplored {
        opacity: 0;

        &::before {
            // add empty content to fix bug where unexplored tiles weren't
            // aligned with the other tiles properly
            content: "";
        }
    }

    &:hover {
        transform: scale(1.0);
        box-shadow: 0 0 5px 8px fade(@black, 15%);
        position: relative;
        z-index: 1;
    }

    &.rg-tile-upstairs {
        perspective: 600px;

        &::after {
            content: "⛩";
            display: inline-block;
            transform-style: preserve-3d;
            transform: rotateX(-60deg);
            top: 0;
            left: 0;
            position: absolute;
            color: red;
            font-size: 100px;
            /* overflow: visible; */
            transform-origin: 37% -20%;
            transform: rotateX(-60deg);
            perspective-origin: 24% 34%;
            opacity: 0.5;
        }
    }

    &.rg-tile-water {
        animation-name: water-wave;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &::before {
            content: "~";
        }

        @keyframes water-wave {
            from {
                background: lighten(desaturate(@blue2, 30%), 45%);
                color: lighten(desaturate(@blue1, 30%), 40%);
            }

            to {
                background: lighten(desaturate(@blue5, 20%), 5%);
                color: lighten(desaturate(@blue4, 20%), 0%);
            }
        }
    }

    &.rg-tile-grass {
        @grass-bg-color: lighten(desaturate(@green3, 40%), 40%);
        @grass-color: lighten(desaturate(@green1, 30%), 20%);
        background: @grass-bg-color;
        color: @grass-color;

        + .rg-tile-grass {
            background: lighten(@grass-bg-color, 10%);
            // color: lighten(@grass-color, 10%);
        }

        &:nth-child(3n) {
            // background: darken(@grass-bg-color, 10%);
            color: darken(@grass-color, 10%);
        }

        &::before {
            content: "෴";
            transform: translate(-25%, 0) scale(0.66);
            display: inline-block;
        }
    }
}

