@import "../commons";

// adds 20ms per action in recalculating styles!
.rg-tile {
    width: @cell-size;
    height: @cell-size;
    font-size: @cell-size;
    background: white;
    font-style: normal;
    line-height: 1;
    position: absolute;
    text-align: center;

    &:hover {
        border: 0.5px solid @black;
        z-index: 1;
    }
}

// all these :before selectors (here and below) add 25ms per action in recalculating styles!
.rg-tile-paved-floor {
    color: rgba(1,1,1, 0.20);
}

.rg-tile-dirt {
    background-color: lighten(desaturate(@sepia1, 32%), 33%);
    color: lighten(desaturate(@sepia1, 30%), 25%);
}

.rg-tile-remembered {
    opacity: 0.4;
    animation-play-state: paused;
}

.rg-tile-water {
    // set default colors for no-animation case
    background: lighten(desaturate(@blue2, 25%), 35%);
    color: lighten(desaturate(@blue1, 25%), 30%);

    // animation-name: water-wave;
    // animation-duration: 2s;
    // animation-timing-function: linear;
    // animation-iteration-count: infinite;
    // animation-direction: alternate;

    @keyframes water-wave {
        from {
            background: lighten(desaturate(@blue2, 30%), 45%);
            color: lighten(desaturate(@blue1, 30%), 40%);
        }

        to {
            background: lighten(desaturate(@blue5, 20%), 5%);
            color: lighten(desaturate(@blue4, 20%), 0%);
        }
    }
}

.rg-tile-grass {
    @grass-bg-color: lighten(desaturate(@green3, 40%), 40%);
    @grass-color: lighten(desaturate(@green1, 30%), 20%);
    background: @grass-bg-color;
    color: @grass-color;
    font-size: 21px;
    line-height: 2.2;

    + .rg-tile-grass {
        background: lighten(@grass-bg-color, 10%);
        // color: lighten(@grass-color, 10%);
    }

    &:nth-child(3n) {
        // background: darken(@grass-bg-color, 10%);
        color: darken(@grass-color, 10%);
    }
}
