@import "~@blueprintjs/core/dist/blueprint.css";

@import "./commons";

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background: #323134;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.no-animation * {
    animation: none !important;
    transition: none !important;
}