.wrapper {
    position: relative;

    .row {
        height: 20px;

        .tile {
            width: 20px;
            height: 20px;
            font-size: 20px;
        }
    }

    .entity {
        .row .tile;

        position: absolute;
    }

    .invisible {
        opacity: 0.1;
    }
}
